Repository GridTools/gt4py, pull requests merged in 2020-08, with the labels that each got.

#117 Reduce stencil overhead
  src/gt4py/backend/templates/stencil_module.py.in
  src/gt4py/config.py
  src/gt4py/stencil_object.py
Labels: module: frontend, triage: enhancement

#124 Refactored frontend parsing of `with` blocks
  src/gt4py/frontend/gtscript_frontend.py
  tests/test_unittest/test_gtscript_frontend.py
Labels: module: frontend

#152 GPU storage fixes
  src/gt4py/storage/storage.py
  tests/test_unittest/test_storage.py
Labels: module: storage, triage: bug

#146 Fixes for issues not fully closed in backend refactoring [PR #134]
  setup.cfg
  src/gt4py/backend/base.py
  src/gt4py/backend/dawn_backends.py
  src/gt4py/backend/debug_backend.py
  src/gt4py/backend/gt_backends.py
  src/gt4py/backend/numpy_backend.py
  src/gt4py/backend/python_generator.py
  src/gt4py/caching.py
  src/gt4py/stencil_builder.py
  tests/test_unittest/test_caching.py
  tests/test_unittest/test_module_generator.py
Labels: module: backend, triage: enhancement
